{% extends 'mainapp/base.html' %} 

{% block content %}
    <h1>Shop</h1>
    {% for producer, products in products_dict.items %}
        <div class="producer-name">
            <h2>{{ producer.name }}</h2>
        </div>
        <div class="products">
        {% for product in products %}
            <div class="product">
                <div class="product-name">
                    <a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a>
                </div>
                <div>
                    <a href="{% url 'product_detail' pk=product.pk %}">
                        <img src="{{ product.image.url }}" alt="{{ product.image.name }}">
                    </a>
                </div>
                <div class="product-bottom">
                    <div class="price">
                            {{ product.price }} 
                    </div>
                    <div class="product-action">
                        <input class="btn-buy" type="button" value="КУПИТЬ">
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
